# Pandas Series

In [24]:
import pandas as pd
import numpy as np

In [3]:
lst = ['A','B','C']

In [4]:
pd.Series(lst)

0    A
1    B
2    C
dtype: object

In [5]:
lst2 = ['D','E','F']

In [6]:
pd.Series(data=lst2,index=lst)

A    D
B    E
C    F
dtype: object

In [9]:
dict = {"x":"A","y":"B","z":"C"}

In [10]:
pd.Series(dict)

x    A
y    B
z    C
dtype: object

# Using an index in Series

In [11]:
players = ['Dhoni','Muralidharan','Warne','Lara']

In [12]:
country = ['India','Sri Lanka','Australia','West Indies']

In [13]:
s1 = pd.Series(data = players,index = country)

In [14]:
s1

India                 Dhoni
Sri Lanka      Muralidharan
Australia             Warne
West Indies            Lara
dtype: object

In [15]:
avg = ['Ironman','Captain','Thor','Groot']

In [19]:
s2 = pd.Series(avg)

In [20]:
s2

0    Ironman
1    Captain
2       Thor
3      Groot
dtype: object

# Dataframe

In [22]:
from numpy.random import randn

In [26]:
df = pd.DataFrame(randn(5,5),index = 'A B C D E'.split(),columns = 'V W X Y Z'.split())

In [27]:
df

          V         W         X         Y         Z
A  0.487462  0.681686  1.720475  0.406614  0.652886
B  0.214335 -0.039689  1.707018 -0.840924  0.054966
C  1.941278 -0.494754  0.586152  0.119904 -0.907670
D -0.293060 -0.573213 -1.236664 -0.395011 -0.799033
E -0.452120 -1.147837 -0.163083 -0.877036  0.557557

# Selection & Indexing

In [29]:
df['W']

A    0.681686
B   -0.039689
C   -0.494754
D   -0.573213
E   -1.147837
Name: W, dtype: float64

In [35]:
df[['X','Z']]

          X         Z
A  1.720475  0.652886
B  1.707018  0.054966
C  0.586152 -0.907670
D -1.236664 -0.799033
E -0.163083  0.557557

# Creating new columns in a Dataframe

In [36]:
df['A'] = df['V'] - df['W']

In [37]:
df

          V         W         X         Y         Z         A
A  0.487462  0.681686  1.720475  0.406614  0.652886 -0.194224
B  0.214335 -0.039689  1.707018 -0.840924  0.054966  0.254024
C  1.941278 -0.494754  0.586152  0.119904 -0.907670  2.436032
D -0.293060 -0.573213 -1.236664 -0.395011 -0.799033  0.280153
E -0.452120 -1.147837 -0.163083 -0.877036  0.557557  0.695717

# Deleting a existing column in Dataframe

In [45]:
df.drop('A',axis = 1,inplace = True)

In [46]:
df

          V         W         X         Y         Z
A  0.487462  0.681686  1.720475  0.406614  0.652886
B  0.214335 -0.039689  1.707018 -0.840924  0.054966
C  1.941278 -0.494754  0.586152  0.119904 -0.907670
D -0.293060 -0.573213 -1.236664 -0.395011 -0.799033
E -0.452120 -1.147837 -0.163083 -0.877036  0.557557

# Deleting a existing rows in Dataframe

In [47]:
df.drop('C',axis = 0)

          V         W         X         Y         Z
A  0.487462  0.681686  1.720475  0.406614  0.652886
B  0.214335 -0.039689  1.707018 -0.840924  0.054966
D -0.293060 -0.573213 -1.236664 -0.395011 -0.799033
E -0.452120 -1.147837 -0.163083 -0.877036  0.557557

In [50]:
df.loc['D']

V   -0.293060
W   -0.573213
X   -1.236664
Y   -0.395011
Z   -0.799033
Name: D, dtype: float64

In [51]:
df.iloc[2]

V    1.941278
W   -0.494754
X    0.586152
Y    0.119904
Z   -0.907670
Name: C, dtype: float64

In [52]:
df

          V         W         X         Y         Z
A  0.487462  0.681686  1.720475  0.406614  0.652886
B  0.214335 -0.039689  1.707018 -0.840924  0.054966
C  1.941278 -0.494754  0.586152  0.119904 -0.907670
D -0.293060 -0.573213 -1.236664 -0.395011 -0.799033
E -0.452120 -1.147837 -0.163083 -0.877036  0.557557

In [55]:
df.loc['A','W']

0.6816858718402391

In [57]:
df.loc[['A','B'],['W','X']]

          W         X
A  0.681686  1.720475
B -0.039689  1.707018

# Conditional Selection

In [59]:
df[df>0]

          V         W         X         Y         Z
A  0.487462  0.681686  1.720475  0.406614  0.652886
B  0.214335       NaN  1.707018       NaN  0.054966
C  1.941278       NaN  0.586152  0.119904       NaN
D       NaN       NaN       NaN       NaN       NaN
E       NaN       NaN       NaN       NaN  0.557557

In [61]:
df[df['Y']>0]

          V         W         X         Y         Z
A  0.487462  0.681686  1.720475  0.406614  0.652886
C  1.941278 -0.494754  0.586152  0.119904 -0.907670

In [63]:
df

          V         W         X         Y         Z
A  0.487462  0.681686  1.720475  0.406614  0.652886
B  0.214335 -0.039689  1.707018 -0.840924  0.054966
C  1.941278 -0.494754  0.586152  0.119904 -0.907670
D -0.293060 -0.573213 -1.236664 -0.395011 -0.799033
E -0.452120 -1.147837 -0.163083 -0.877036  0.557557

In [73]:
df[(df['W']>0) & (df['X']>0)]

          V         W         X         Y         Z
A  0.487462  0.681686  1.720475  0.406614  0.652886

# Index Reseting

In [74]:
df

          V         W         X         Y         Z
A  0.487462  0.681686  1.720475  0.406614  0.652886
B  0.214335 -0.039689  1.707018 -0.840924  0.054966
C  1.941278 -0.494754  0.586152  0.119904 -0.907670
D -0.293060 -0.573213 -1.236664 -0.395011 -0.799033
E -0.452120 -1.147837 -0.163083 -0.877036  0.557557

In [75]:
lst = "AA BB CC DD EE".split()

In [76]:
df['index'] = lst

In [77]:
df

          V         W         X         Y         Z index
A  0.487462  0.681686  1.720475  0.406614  0.652886    AA
B  0.214335 -0.039689  1.707018 -0.840924  0.054966    BB
C  1.941278 -0.494754  0.586152  0.119904 -0.907670    CC
D -0.293060 -0.573213 -1.236664 -0.395011 -0.799033    DD
E -0.452120 -1.147837 -0.163083 -0.877036  0.557557    EE

In [78]:
df.reset_index()

  level_0         V         W         X         Y         Z index
0       A  0.487462  0.681686  1.720475  0.406614  0.652886    AA
1       B  0.214335 -0.039689  1.707018 -0.840924  0.054966    BB
2       C  1.941278 -0.494754  0.586152  0.119904 -0.907670    CC
3       D -0.293060 -0.573213 -1.236664 -0.395011 -0.799033    DD
4       E -0.452120 -1.147837 -0.163083 -0.877036  0.557557    EE

In [82]:
df.set_index('index',inplace = True)

In [83]:
df

              V         W         X         Y         Z
index
AA     0.487462  0.681686  1.720475  0.406614  0.652886
BB     0.214335 -0.039689  1.707018 -0.840924  0.054966
CC     1.941278 -0.494754  0.586152  0.119904 -0.907670
DD    -0.293060 -0.573213 -1.236664 -0.395011 -0.799033
EE    -0.452120 -1.147837 -0.163083 -0.877036  0.557557